body{
  font-family:Tahoma;
  /*font-size: 16px;*/
  /*font-size: 1.5vw;*/
  text-align: center;
  background-color:#FFF;
  /*white-space:pre-wrap;*/
  line-height:1.5;
}
div{
	color:#A5ACAF;
  width: 80ch;
  display: inline-block;
  text-align: left;
  background-color:#154734;
  border-radius:25px;
  padding:20px;
}
img{
    float:left;
    margin-right:10px;
}
.hide{
    display:none;
}
